html {
    scroll-behavior: smooth;
}

body {
    background:rgba(211, 222, 224, 0.568)
}

.anchor:target {
    padding-top: 120px;
}

.navbar {
    box-shadow: 0px 3px 7px 1px #20202050;
}

.navbar-brand img {
    max-height: 80px;
}

.games .card {
    max-width: 460px;
    box-shadow: 3px 3px 7px 1px #20202050;
}

.footer {
    box-shadow: 0px -1px 7px 1px #202020;
    background-color: rgb(19, 18, 18);
}

.footer img {
    filter: invert(100%);
}